<?xml version="1.0" encoding="UTF-8"?>
<oimplugins xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <plugins pluginpoint="oracle.iam.scheduler.vo.TaskSupport">
            <plugin pluginclass="it.reply.NGUM_Inbound.FKPTaskSupport" version="1.0" name="FKPImportByRecon"/>
     </plugins>
</oimplugins>